.clock_container {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 100vw;
        height: 50%;
        top: 0;
        background-color: #207cb5;
        z-index: -1;
    } 
    .clock {
        width: 40rem;
        height: 40rem;
        background-color:#207cb5  ;
        border-radius: 50%;
        z-index: 1;
        border: 2rem solid white;
        box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.16);

        .clock_face {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .barrel {
            position: absolute;
            width: 2rem;
            height: 2rem;
            background-color: #207cb5;
            border: 2px solid white;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 5;
            }
            .hand_hour {
                position: absolute;
                width: 35%;
                height: .5rem;
                background-color: white;
                right: 50%;
                transform-origin: 100% center;
                border-radius: 1rem ;
                transform: rotate(90deg);
                transition: all .4s cubic-bezier(.83,-0.07,1,2.11)
            }
            .hand_minutes {
                position: absolute;
                width: 40%;
                height: .5rem;
                background-color: white;
                right: 50%;
                transform-origin: 100% center;
                border-radius: 1rem ;
                transform: rotate(90deg);
                transition: all .4s cubic-bezier(.83,-0.07,1,2.11)
            }
            .hand_seconds{
                position: absolute;
                width: 48%;
                height: .5rem;
                background-color: rgb(251, 30, 81);
                right: 50%;
                transform-origin: 100% center;
                border-radius: 1rem ;
                transform: rotate(90deg);
                z-index: 1;
                transition: all .4s cubic-bezier(.83,-0.07,1,2.11)
            }
            .clock_lines{
                width: 95%;
                height: 95%;
                position: relative;
                opacity: .5;
                .hour_line{
                    display: block;
                    position: absolute;
                    height: 1.5rem;
                    width: 0.5rem;
                    background-color: white;
                    left: 50%;
                    transform: translateX(-50%) rotate(90deg) ;
                    transform-origin: 0.25rem calc(((36rem / 2) / 100) * 95);
                    
                }
                #h12 {
                    transform: translateX(-50%) rotate(0deg) ;
                }
                #h01 {
                    transform: translateX(-50%) rotate(30deg) ;
                }
                #h02 {
                    transform: translateX(-50%) rotate(60deg) ;
                }
                #h03 {
                    transform: translateX(-50%) rotate(90deg) ;
                }
                #h04 {
                    transform: translateX(-50%) rotate(120deg) ;
                }
                #h05 {
                    transform: translateX(-50%) rotate(150deg) ;
                }
                #h06 {
                    transform: translateX(-50%) rotate(180deg) ;
                }
                #h07 {
                    transform: translateX(-50%) rotate(210deg) ;
                }
                #h08 {
                    transform: translateX(-50%) rotate(240deg) ;
                }
                #h09 {
                    transform: translateX(-50%) rotate(270deg) ;
                }
                #h10 {
                    transform: translateX(-50%) rotate(300deg) ;
                }
                #h11 {
                    transform: translateX(-50%) rotate(330deg) ;
                }

            }
        }
    }
}